.about-box {
  margin-top: 20px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  font-family: 'Bree Serif', Serif;
}

.about-box span {
  margin-left: 20px;
  margin-right: 20px;
}

.about-box p {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
}

img {
  margin-top: 20px;
  border-radius: 5px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
  }

ul {
  list-style-type: none;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

.about-box {
  font-size: 80%;
}

}

@media only screen and (max-width: 767px) {

  img {
    width: 100%;
  }

.logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
