.space{
  height: 0px;
  display: none;
}
.picture{
  height: 250px;
  width: 250px;
}
#nav-2{
  border-bottom: 3px solid black;
}

.top-section{
  position: relative;
  display: block;
  margin-top: 20px;
  background-color: white;
  height: 270px;
  width: 20em;
  opacity: 0.8;
  border-radius: 5px;
  overflow-y: hidden;
  overflow-x: scroll;
}

#top-images{
  width: auto;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
}

.bottom-section{
  margin-top: 10px;
  background-color: white;
  height: 270px;
  opacity: 0.8;
  border-radius: 5px;
  overflow-y: hidden;
  overflow-x: scroll;
}

#bottom-images{
  width: auto;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
}

#matchup{
  margin-top: 10px;
  width: 130px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(255,255,255,1);
  margin-left: 670px;
  font-family: 'Bree Serif', serif;
  color: black;
  opacity: 0.8
}

#matchup:hover{
  opacity: 1;
}

#additem{
  display: block;
  margin-top: 10px;
  width: 130px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(255,255,255,1);
  margin-left: 10px;
  font-family: 'Bree Serif', serif;
  color: black;
  opacity: 0.8;
}

#additem:hover{
  opacity: 1;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

#matchup{
  margin-left: 477px;
}

}

@media only screen and (max-width: 767px) {

#matchup{
  margin-left: 20px;
}

}
