*{
  outline: none;
}

body {
  background-image: url(../pictures/splash.jpg);
  background-attachment: fixed;
  background-size: 100%
}

#title{
  font-size: 3em;
  font-family: 'Lobster', cursive;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

#login-button{
  text-align: center;
  color: white;
  opacity: 1;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(255,255,255,0.3);
  width: 100px;
  height: 50px;
  margin-top: 8px;
  font-family: 'Open Sans', sans-serif;
}

#login-button:hover{
  background-color: rgba(255,255,255,0.5);
}

.login-inputs input{
  /*display: block;*/
  width: 214px;
  height: 40px;
  border-style: none;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 0px 0px 5px 5px;
  display: none;
}

#login-username{
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

#login-password{
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#signInButton{
  text-align: center;
  color: white;
  opacity: 1;
  border-radius: 3px;
  border-style: none;
  background-color: #6699CC;
  width: 214px;
  height: 50px;
  margin-top: 8px;
  font-family: 'Open Sans', sans-serif;
}

#login-username, #login-password{
  opacity: 0.5;
}

#login-username:hover, #login-password:hover, #signInButton{
  opacity: 0.9;
}

#login-username:focus, #login-password:focus, #signInButton{
  opacity: 0.9;
}

.content-info h1{
  font-size: 35px;
}

.content-info{
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.content-info p{
  font-size: 18px;
}

.space{
  height: 15em;
}

.canvas{
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}

.inputs input{
  display: block;
  margin: 0 auto;
  width: 290px;
  height: 40px;
  border-style: none;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  opacity: 0.9;
  padding: 0px 0px 5px 5px;
}

#email{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#password{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#pleasefill{
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
#log-in-feedback{
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  margin: 0 auto;
  margin-top: 20px;
  width: 214px;
  text-align: center;
}
.signup{
  display: block;
  margin: 0 auto;
  width: 295px;
  height: 45px;
  border-radius: 3px;
  color: white;
  background-color: #6699CC;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border-style: none;
  opacity: 0.9;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

#login-button{
  margin-left: 705px;
}
}

@media only screen and (max-width: 767px) {

.login-inputs input{
  margin: 0 auto;
  width: 100%;
}

#login-button{
  width: 100%;
}

#login-username, #login-password{
  opacity: 0.9;
}

#signInButton{
  color: white;
  width: 100%;
}

#signInButton:hover{
  background-color: rgba(255,255,255,0.9);
}
}
